body {
  margin: 0;
  font-family: "Raleway";
}
footer {
  background-color: rgb(64, 59, 59);
  padding: 0 48px;
}

.footer-content {
  max-width: 1920px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sozial-media {
  display: flex;
  gap: 20px;
}
.sozial-media a {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.sozial-media a:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.sozial-media img {
  width: 60px;
}
.data-protection {
  text-decoration: none;
  color: #fff;
  background-color: #008000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.data-protection:hover {
  background-color: #1a501a;
  transform: scale(1.05);
}
@media (max-width: 520px){
  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
  }
  .sozial-media{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}